@use  "../variables/variables.scss" as *   ;
@use "../mixins/mixins.scss" as *;

.loginForm{
    
    @include centring ; 
    flex-direction: column;

    .validity{
        @include centring ; 
        margin: 20px 0 20px 0;
        width: 400px;
        flex-direction: row;
        justify-content: space-around;
       label{
        @include centring ; 
        justify-content: space-between;
        width: 100px;
       }
        span  {
           
            font-size: 15px;
            
        }
        label p {
            @include centring;
            user-select: none;
            font-weight: bold;


        }
        p:before{
            
            content: "";
            width: 24px;
            height: 24px;
            border: 1px solid $mainColor ;
            border-radius: 50%;
            background-color: $backgroundColor;
            margin-left: 10px;
            transition: .3s;
            
            
        }
        label input:checked + p:before{
           
            width: 20px;
            height: 20px;
            background-color: $mainColor;
            border: 5px solid $backgroundColor ;
            border-radius: 50%;
            
        }
        label input:checked + p{
            @include centring;
        }
        input {
           display: none;
            
        }
        
    }


    form {
        
        @include centring;
        flex-direction: column;
      
        width: 400px;
        
        label{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: -13px;
            width: 400px;
            
        }
        span{
            margin-right: 50px;
        }
        %input {
            
            width: 250px;
            height: 30px;
            border-radius: 7px;
            direction: ltr;
            padding: 5px;
                }

        input {
            &[type="text"] , &[type="password"]{
                @extend %input;
                color: black;
                height: 40px;
                width: 300px;
                background-color: $backgroundColor;
                border: 1px solid $mainColor;
                border-radius: 7px;
                font-size: 20px;
                &:focus{
                    outline-color: $foucs;
                }
            }

            
            
            &[type="submit"] {
                @extend %input;
                background-color: black;
                color: white;
                font-weight:bold;
                font-size: 20px;
                margin-top: 15px;
                width: 100px;
                height: 38px;
                margin-bottom: 20px;
                cursor: pointer;
            }
            
        }
        
        p{
            font-weight: bold;
            margin-bottom: 80px;
        }
    }
}
