@use  "../variables/variables.scss" as *   ;
@use "../mixins/mixins.scss" as *;
h4{
    margin-bottom: 0px
}
.bigMain{
   @include pagesStyle;
   display: flex;
   
}
.mainRight{
    width: 70%;
    
    
}
.main{
    @include centring ; 
    flex-direction: column;

    .content{
        @include centring;
        justify-content: space-around;
        margin-right: 30px;
        width: 100%;
        
        .contentParts:before{
            content: "";
            position: relative;
            left: -10px; 
            width: 1.8%;
            border-radius: 3px;
            background-color: $mainColor;
        }
        .contentParts{
            width: 30%;
            display: flex;
            background-color: $whiteColor;
            padding: 10px 0 10px 0;
            border-radius: 7px;
            flex-wrap: nowrap;
                        
                label{
                font-size: 22px;
                width: 20%; 
                height: 43.93px;
                background-color: $backgroundColor;
                margin-right: 30px;
                @include centring;
                border-radius: 7px;
                margin-left: 15px;

                
            }
            p{
                margin-bottom: 0px
            }
            h4{
                font-size: 18px;
                font-weight: bold;
            }
           
                
            
        }
        
        
        
    }
    
    .headerMain{
        @include header;
    }
}

.mainContent{


    .contentHeader{
        @include header;
        margin-right: 30px;
    }

    .contentAnalysis{
        margin: 0 10px 0px 0px ; 
        height: calc((100vh) - (330px));
        background-color: white;
        border-radius: 8px;
    }   

}
.mainLift{
    width: 30%;
}
.mainSlider{
    
    width: 100%;
    
    h3{
        font-size: 20px;
        font-weight: bold;
        margin: 53px 35px 0px 0;
    }
    .sliderContent{
        padding: 10px 10px 10px 10px;
        background-color: white;
        margin: 10px 30px 0px 10px;
        height: calc((100vh) - (177px));
        border-radius: 8px;
        .sliderHeader{
            .rateNum{
                @include centring; 
                justify-content: space-between;
                margin: 10px 0 10px 0 ;
                
                span{
                    color: $hintColor;
                }
                p{
                    font-weight: bold;
                }
            }
            .rateText{
                @include centring;
                justify-content: flex-start;
                margin: 10px 0 10px 0;
                Span{
                    margin-left: 5px;
                    margin-right: 10px;
                }
                .spanOne{   
                color: #198754;  
                }
                .spanTwo{
                    color: #FFC107;
                }
                .spanThree{
                    color: #DC3545;
                }
            }
            p{
                margin-bottom: 0;
            }
            }
    }

    img{
        width: 70px;
    }
    
    .sliderFooter{
        margin-top: 50px;

        .sliderComment{
            @include centring;
            justify-content: space-between;
            margin: 10px 0 15px 0 ;
            @include barBack;
            .commentInfo{
                @include centring;
                img{
                  @include imgHandel;
                }
                h5{
                    margin-bottom: 0;
                    margin-right: 5px;
                }
                p{
                    margin-right: 5px;
                    margin-bottom: 0;
                    color: $hintColor;
                    font-size:13px;
                }
                
            }
            .commentIcon{
               @include arrow;
                margin-left: 5px;                
              
            }
            
        }
    }
}