@use  "../variables/variables.scss" as *   ;
@use "../mixins/mixins.scss" as *;
.users{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 61px);
    p{
        margin-bottom: 0px;
    }
}
.usersRight{
    width: 65%;
}
.users-Right{
    width: 100%;
    
    .div{
        
        h3{
            @include header ;
        }

        .usersContent{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc((100vh) - (150px));
            border-radius: 8px;
            background-color: white;
            margin-right: 20px;
        form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100px;
            width: 100%;
            
            .inputs{
                margin:20px 10px 0 0;
                display: flex;
                flex-direction: column;
                span{
                    margin:0 5px 5px 0 ;
                }
                input{
                    background-color: $backgroundColor;
                    height: 30px;
                    width: 200px;
                    color: black;
                    border: 1px solid gray;
                    border-radius: 8px;
                    &:focus{
                        outline-color: $mainColor;
                    }
                }
                
                
            }
            .submitIn{
                display: flex;
                align-items: flex-end;
                input{
                    height: 30px;
                    width: 130px;
                    background-color: $mainColor;
                    color: white;
                    font-weight: bold;
                    border: none;
                    border-radius: 8px;
                    margin-top: 10px;
                    &:focus{
                        outline-color: $foucs;
                    }
                }
                margin-right: 10px;
            }

        }
        label{
            margin: 20px 30px 10px 0;
            span{
                margin-right: 10px;
            }
        }
        .resultBig{
            height: 100%;
            overflow: hidden;
        .resultDiv{
            max-width: 100%;
            
            @include centring;
        
            .resultBar{
                @include centring;
                flex-direction: row;
                justify-content: space-around;
                height: 40px;
                width: 95%;
                background-color: gray;
                color: white;
                border-radius: 8px;
                p{
                padding-left: 40px
                }
               }
        }
        .resultContainer{
            @include centring;
            overflow: auto;
            justify-content: flex-start;
            height: calc((100vh) - (350px));
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            
            .theResult{
                @include barBack;
                border-radius: 8px;
                height: 40px;
                margin: 10px;
                position: relative;
                @include centring;
                width: 95%;
                justify-content: space-around;
            
                
                img{
                    @include imgHandel;
                    
                }
                span{
                    position: absolute;
                    left: -10px;
                    @include arrow;
                }
            }
        }
        

    }}
}}

.usersLeft{
    width: 35%;
    height: 100%;
   
    
.userLeft{
    height: calc((100vh) - (61px));
    overflow: hidden;
    
    .userInfo{
        margin-right: 20px;
        border-radius: 8px;
        position: relative;
        width: 90%;
        margin-top: 75px;
        background-color: white;
        .userLeftHeader{
        img{
            position: relative;
            top: -50px;
            right: 30%;
            max-width: 40%;
            min-width: 20%;
            border-radius: 15px;
        }
        span{
            position: absolute;
            top: 5px;
            left: 10px;
            cursor: pointer;
           
        }
        
        .delActive{
            display: none;
            position: absolute;
            top: 30px;
            left: 10px;
            background-color: white;
            color: black;
            border: none;
            box-shadow: 1px 1px 1px 1px rgba(184, 184, 184, 0.5);
            border-radius: 8px;
            font-size: 14px;
            padding: 2px;
            font-weight: bold;
        }
        .delNotActive{
            display: block;
            @extend .delActive;
        }

    }

    .userLeftDetails{
        display: flex; 
        flex-direction: column;
        label{
            display: flex;
            justify-content: start;
            margin: 5px;
            p{
            font-weight: bold;
                margin-right: 10px;
            
            }
            span{
                margin-right: 5px;
            }
            button{
                position: absolute;
                left: 0;
                background-color: white;
                color: $mainColor;
                border: none;
                margin-left: 10px;
            }
        }
    }
    }
    .userFooter{
       @include centring;
       flex-direction: column;
       height: 200px;
       .contentParts:before{
        content: "";
        position: relative;
        left: -10px; 
        width: 1.8%;
        border-radius: 3px;
        background-color: $mainColor;
    }
    .contentParts{
        margin: 10px 0 10px 0;
        width: 90%;
        display: flex;
        background-color: $whiteColor;
        padding: 10px 0 10px 0;
        border-radius: 7px;
        flex-wrap: nowrap;
                    
            label{
            font-size: 22px;
            width: 20%; 
            height: 43.93px;
            background-color: $backgroundColor;
            margin-right: 30px;
            @include centring;
            border-radius: 7px;
            margin-left: 15px;

            
        }
        p{
            margin-bottom: 0px
        }
        h4{
            font-size: 18px;
            font-weight: bold;
        }
       
            
        
    }
    }
    .popClose{
       
        
        @include popDisply;

       form{
        @include popPartDisply;
        
        label{
           @include closeButton;

        }
        .formPop{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 50%;
            
            span{
                font-weight: bold;
                margin-bottom: 5px;
            }
            input{
           &[type="text"]{
           @include inputStyle;
           width: 100%;
           font-size: 15px
           ;
           }
           &[type ="submit"]{
            @include inButtomStyle;
            width: 100%;
            border-style: none;
           }
        }
        }
        
       }
    }
    .popOpen{
        @extend .popClose;
        display: flex;
    }
}
.popDeleteClose{
    @include popDisply;
    
    >div{
       @include popPartDisply;
       flex-direction: column;
       align-items: center;
       label{
        @include closeButton;

       }
       .buttons{
        @include centring;
        justify-content: space-around;
        width: 70%;
       .finalDelete{
        @include inButtomStyle;
        width: 40%;
       }
       .cancel{
        @include inButtomStyle;
        background-color: $redColor;
        color: white;
       }
    }
}

}
.popDeleteOpen{
    @extend .popDeleteClose;
    display: flex;
}

}