@use  "../variables/variables.scss" as *   ;
@mixin centring {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@mixin beforeElement {
    width: 10px;
    height: 10px; 
    background-color: $mainColor;
    
}

@mixin pagesStyle {
    width: 100%;
    background-color: $backgroundColor;
    height: calc(100vh - 68.6px);;    
    margin-top: 7px;
    
}
@mixin  imgHandel {
    border: .5px ridge;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@mixin header {
    width: 100%;
        margin: 20px 70px 20px 0 ;
    
}
@mixin inputStyle {
    
           
            border-radius: 7px;
            
            padding: 5px;
             color: black; 
            background-color: $backgroundColor;
            border: 1px solid $mainColor;
            border-radius: 7px;
            font-size: 20px;
                &:focus{
                    outline-color: $foucs;
                }
    
}
@mixin closeButton {
     position: absolute;
            right: 0;
            top:0;
            @include centring;
            width: 11%;
            height: 12%;
            color: $redColor;
            border-radius: 5px 7px 5px 5px ;
            transition: .3s;
            &:hover{
                background-color: $redColor ;
                color: white;


            }
    
}
@mixin  inButtomStyle {
    background-color: black;
    color: white;
    font-weight:bold;
    font-size: 20px;
    margin-top: 15px;
    width: 100px;
    height: 38px;
    margin-bottom: 20px;
    cursor: pointer;
    border-style: none;
    border-radius: 7px;
    
}
@mixin barBack {
            background-color: rgb(252, 252, 252);
            box-shadow: 1px 1px 1px 2px rgba(235, 235, 235, 0.5);
            border-radius: 15px 24px 24px 15px;
    
}
@mixin popDisply {
    @include centring;
        display: none;
        position: absolute;
       left: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
       height: calc((100%) - (60px));
       width: calc( (100%)  - (230px) );
    
}
@mixin popPartDisply {
    @include centring;
    border-radius: 7px;
    background-color: white;
    height: 40%;
    width: 40%;
    position: relative;
    
}
@mixin arrow {
               @include centring;               
               background-color: $backgroundColor;
                height: 18px;
                width: 22px;
                border-radius: 5px;
                color: black;
                box-shadow: 1px 1px 0px 0px rgba(161, 160, 160, 0.5);
                cursor: pointer;
    
}
@mixin  breakPoints($point) 
{
    @if $point == Extralarge{
        @media (min-width :1400px)  {
            @content;
            
        }
    }
    @if $point == ExLdevices{
        @media (min-width: 1200px)  {
            @content;
            
        }
    }
    @if $point == Ldevices{
        @media (min-width: 992px)  {
            @content;
            
        }
    }
    @if $point == Mdevices{
        @media (min-width: 768px)  {
            @content;
            
        }
    }
    @if $point == Sdevices{
        @media (min-width: 576px)  {
            @content;
            
        }
    }
    @if $point == ExSdevices{
        @media (min-width: 576px)  {
            @content;
            
        }
    }
    
    
}


