@use  "../variables/variables.scss" as *   ;
@mixin centring {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@mixin beforeElement {
    width: 10px;
    height: 10px; 
    background-color: $mainColor;
    
}

@mixin pagesStyle {
    width: 100%;
    background-color: $backgroundColor;
    height: calc(100vh - 68.6px);;    
    margin-top: 7px;
    
}
@mixin  breakPoints($point) 
{
    @if $point == Extralarge{
        @media (min-width :1400px)  {
            @content;
            
        }
    }
    @if $point == ExLdevices{
        @media (min-width: 1200px)  {
            @content;
            
        }
    }
    @if $point == Ldevices{
        @media (min-width: 992px)  {
            @content;
            
        }
    }
    @if $point == Mdevices{
        @media (min-width: 768px)  {
            @content;
            
        }
    }
    @if $point == Sdevices{
        @media (min-width: 576px)  {
            @content;
            
        }
    }
    @if $point == ExSdevices{
        @media (min-width: 576px)  {
            @content;
            
        }
    }
    
    
}